# virtual environment
/.venv

# Python bytecode
__pycache__/
*.py[cod]

# Local requirement snapshots
requirements.txt
__pycache__/
*.pyc

# Ignore local database files
*.db
*.sqlite
*.sqlite3


# Session photo captures
frontend/data/sessions/

#mac os build files
frontend/.DS_Store
